:root {
  --base-color: hsl(47, 88%, 63%);
  --secondary-color: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

@font-face {
  font-family: "FigTree";
  src: url(/assets/fonts/static/Figtree-Medium.ttf);
}

body {
  background-color: var(--base-color);
  font-family: "FigTree", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 512px;
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.card__cover {
  width: 256px;
  border-radius: 8px;
}

.card__category {
  width: 75px;
  height: 25px;
  align-content: center;
  text-align: center;
  border-radius: 8px;
  background-color: var(--base-color);
}

.attribution {
  align-content: center;
}
